// Inter Font
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  src: url("../assest/fonts/inter/inter-extralight.ttf");
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("../assest/fonts/inter/inter-light.ttf");
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("../assest/fonts/inter/inter-medium.ttf");
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../assest/fonts/inter/inter-regular.ttf");
}
@font-face {
  font-family: "Inter";
  font-display: swap;
  font-style: normal;
  font-weight: 200;
  src: url("../assest/fonts/inter/inter-thin.ttf");
}

// Helvetica Font Family

@font-face {
  font-family: "Helvetica";
  font-display: swap;
  font-style: normal;
  font-weight: 200;
  src: url("../assest/fonts/helvetica/helvetica-light.ttf");
}
@font-face {
  font-family: "Helvetica";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../assest/fonts/helvetica/helvetica-medium.ttf");
}

@font-face {
  font-family: "Helvetica";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("../assest/fonts/helvetica/helvetica-roman.ttf");
}
@font-face {
  font-family: "Helvetica";
  font-display: swap;
  font-style: normal;
  font-weight: 100;
  src: url("../assest/fonts/helvetica/helvetica-thin.ttf");
}

// SAN FRANCISCO FONT FACE

@font-face {
  font-family: "San Francisco";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("../assest/fonts/apple/sf-regular.ttf");
}

@font-face {
  font-family: "San Francisco";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url("../assest/fonts/apple/sf-thin.ttf");
}

// TWITTER FONT FACE

@font-face {
  font-family: "Chirp";
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url("../assest/fonts/twitter/chirp-bold-web.woff");
}
@font-face {
  font-family: "Chirp";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../assest/fonts/twitter/chirp-heavy-web.woff");
}
@font-face {
  font-family: "Chirp";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url("../assest/fonts/twitter/chirp-medium-web.woff");
}
@font-face {
  font-family: "Chirp";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../assest/fonts/twitter/chirp-regular-web.woff");
}
