.container {
  display: grid;
  position: relative;
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
  background-color: var(--ion-background-color);
}

.app-container {
  z-index: 10;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr 40%;
}

.sidebar {
  order: 1;
  display: grid;
  transition: border 100ms ease-in;
  border-right: 1px solid var(--ion-color-step-100);
}

.center {
  order: 2;
  overflow: hidden;
  display: grid;
  place-content: center;
}

.features {
  order: 3;
  display: flex;
  overflow: hidden;
  border-left: 1px solid var(--ion-color-step-100);
  transition: border 0.1s ease-in;
}

.features-container {
  flex: 1;
  // padding: 4px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .container {
    height: 100vh;
  }
  .app-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto;
  }

  .sidebar {
    border: none;
    order: 3;
    max-width: unset;
    overflow: auto hidden;
    border-top: 1px solid var(--ion-color-step-100);
  }
  .features {
    order: 2;
    border: none;
  }
  .center {
    order: 1;
  }
}
