// Frame Container

.center-container {
  border-radius: 4px;
  overflow: hidden;
}

// .frame-container {
//   display: grid;
//   position: relative;
//   min-width: 300px;
//   max-width: 500px;
//   overflow: hidden;
//   width: 412px;
//   transition: height 200ms linear;
// }

// Container-2
// .Container {
//   display: grid;
//   position: relative;
//   place-content: center;
//   transition: background 0.1s ease-in-out;
// }

// Box Container
.BoxContainer {
  max-width: 300px;
  // padding: 0.4rem 0;
  transition: 0.1s ease-in;
  z-index: 5;
  position: relative;
  overflow: hidden;
  min-width: 250px;
}

// Blur Container
.BlurContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(10px);
  z-index: -5;
  min-width: 300px;
  max-width: 500px;
  width: 412px;
}

@media screen and (max-width: 768px) {
  .frame-container,
  .BlurContainer {
    width: 100vw;
  }
  .center-container {
    border-radius: 0px;
    overflow: auto;
  }
}
